# 服务器相关配置
MUSIC_ROOT_ROUTER_PREFIX="根路由路径前缀"
MUSIC_SERVER_HOST="服务器主机"
MUSIC_SERVER_PORT="服务器端口号"


# JWT相关配置
JWT_TOKEN_EXPIRE_TIME = 3600 * 2  # token有效时间，单位为秒，当前为默认2小时
JWT_SECRET = "加解密密钥"
JWT_ALGORITHM = "加解密算法"


# 日志相关配置
LOG_LEVEL = "默认日志等级"
MUSIC_LOG_FILE_PATH="日志文件路径"
MUSIC_LOG_FILE_LEVEL="默认日志文件输出的日志等级"
MUSIC_LOG_CONSOLE_LEVEL="默认控制台输出的日志等级"
MUSIC_LOG_ROTATION_SIZE ="轮转大小"
MUSIC_LOG_RETENTION_DAYS ="保留天数"

# 分页相关配置
PAGE_DEFAULT = "默认页码"
PAGE_SIZE_DEFAULT = "默认每页数量"
PAGE_SIZE_MAX = "每页最大数量"
PAGE_SIZE_MIN = "每页最小数量"

# 文件上传相关配置
UPLOAD_DIR = "上传根目录（相对路径/绝对路径）"
MAX_UPLOAD_SIZE = "单文件最大字节"
ALLOWED_IMAGE_TYPES = "图片文件后缀"
ALLOWED_AUDIO_TYPES = "音频文件后缀"
STATIC_URL_PREFIX: str = "静态文件挂载"